header{
    
    background-color:steelblue;
   height: 55px;
   width: 100%;
   
   

   position: relative;
   top:0px;
  
   position: fixed;
   
   
   
    
}
#a{
    
   
    font-size: 20px;
   
    padding: 10px;

    padding-top: 30px;
    position: relative;
    left:1000px;
 
}

button{
   
    
    border-radius: 5px;
    border:1px solid black;
    height: 40px;
}
#i{
    text-align: left;
    width: 50px;
    height: 40px;
    position: absolute;
    left:5px;
    top:5px;
   
}
span{
    margin-top:10px;
}
    


body{
    margin: 0px;
  

    
}
main{
        
    background-image: url(' https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');

}
#p{  padding-top: 100px;
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
}

#c{
    text-align: center;
    font-size:25px ;
    font-style: normal;
    padding-top:0px;
    margin-bottom:350px;
   
   


}



#d{
    margin-left: 0px;
    height: 500px;
    
}

#l{
    font-size: 20px;
    text-align: center;
}
h1{
    text-align: center;
}



#y {
    font-size:30px ;
    margin-top: 0px;
    color:#8b8b99;
    margin-bottom: 100px;
}
#z{
    font-size: 20px;
    padding-top: 100px;
    margin-bottom: 2px;

}

#x{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    color:black;
    
}


#m{
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
    font-size: 30px;
}
#f{

    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    padding-bottom: 50px;
    
}
#f:hover{

    border-radius: 40px;
    outline: none;
    border: 1px solid black;
    padding-bottom: 50px;

}
#n{
    text-align: center;

}


#color{
    
    margin-top: 0px;
    background-color:silver;
}

#p1{

    text-align: center;
    border:1px solid black;
    border-radius: 30px;
    background-color: silver;
    padding-top: 100px;
    padding-bottom: 20px;
    

   
    
}
#m1{

    font-size: 20px;
    padding: 10;
    text-align: center;
}
#n1{

text-align: center;
font-size: 30px;

}
#t2{
    
    margin-left:150px;
    margin-right: 150px;
    margin-bottom: 25px;
}
#color2{
    background-color: wheat;
}
#i2{

    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
    
}
#i2:hover{

    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
}
#i3{

  
    padding-top: 20px;
    width: 65%;
    height: 100%;

    

}
#border{
    margin-top: 20px;
    width: 35%;
    height: 100%;
    float: right;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');
    background-repeat: no-repeat;


    
}
#u{

    padding-top: 100px;
    padding-left: 100px;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    letter-spacing=5px;
    
}
#u1{

    padding-left: 100px;
    padding-right: 80px;
    
    font-size: 20px;
}
input{
    text-align: center;
    
    width: 350px;
    height: 50px;
    outline: none;
}
form{
    padding-top: 50px;
    padding-left: 100px;
}


#button{
    background-color: lightcoral;
    width: 150px;
    cursor: pointer;
    height: 50px;
}
#ttt{
    margin: 50px;
    padding: 100px;
    
}
#tt{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
   
   
}
#t5{
    text-align: center;
    font-size: 30px;
}
#id{
    background-color:lightskyblue;
}
#v{
    font-size: 50px;
}
embed{

    height: 700px;
    width: 1000px;
}
#q1{
    height: 800px;
    width: 40%;
    background-color:snow;
    margin: 5%;
   
}
#q2{

    height: 750px;
  
    width: 40%;
    background-color:snow;
    float: right;
    margin-top: -878px;
    
    

    
}
#o1{
    font-size:20px;
}
#o{
    font-size: 30px;
    font-weight: bold;
}
#o2{
    font-size: 20px;
}
#o3{
    font-size: 35px;
}
#o0{
    font-size: 40px;
    font-weight: bold;

}
#aq{
    height: 60px;
    width: 450px;
    margin: 5px;
    
    border-radius: 5px;
}
#q3{
    margin: 5px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;

}
footer{
    background-color:#232323;

    height: 70px;
}
#hh{
    text-align: center;
    color: cadetblue;
    padding: 5px;
}